@charset "UTF-8";

#cuerpo{
	background-color: #ECE5C7;
}
#header{
	background-color: #354259;
}
#navbar{
	background-color: #CDC2AE;
	border-bottom: 2px #354259 solid;
	color: #fff;
	text-decoration: none;
}

#footer{
	background-color: #354259;
}
#cards{
	background-color: #354259;
	color: #fff;
}

img{
	width: 100%;
}