@charset "UTF-8";

.main{
	background-image: url("../images/fondo2.jpg"); 
	
}
#header{
	background-color: #354259;
}
#navbar{
	background-color: #CDC2AE;
	border-bottom: 2px #354259 solid;
	color: #fff;
	text-decoration: none;
}

#footer{
	background-color: #354259;
}
#cards{
	background-color: #354259;
	color: #fff;
}

.boton{
	padding-top: 300px;
	width: 400px;
	height: 150px;
	font-size: 2.3em;
	text-align: center;
	border-radius: 10px;
}

.btn{
	background-color: #16c4e9;
	font-size: 1em;
	text-align: center;
	border-radius: 10px;
}

img{
	width: 100%;
	
}